<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Sample app", root_path, id: "logo" %>
        <nav>
          <div class="nav pull-right">
            <span><%= link_to "Home", root_path, {:style => 'font-size:18px'} %></span>
            <span>&nbsp</span>
            <span><%= link_to "Help", help_path, {:style => 'font-size:18px'}  %></span>
            <span>&nbsp</span>
            <span><%= link_to "Sign in", '#', {:style => 'font-size:18px'} %></span>
          </div>
        </nav>
      </div>
    </div>
  </header>
